body{
    background-color: rgb(37, 37, 37);
}

.my_green{
    padding: 10px 20px;
    border-radius: 8px;
    background-color: rgb(105, 225, 131);
}

.my_red{
    padding: 10px 20px;
    border-radius: 8px;
    background-color: rgb(225, 105, 105);
}